services:
   node-cuda:
      profiles:
         - cuda
      container_name: hashcatnode-cuda
      build:
         context: .
         args:
            HASHCAT_BASE: dizcza/docker-hashcat:cuda
            HASHCAT_BINARY: /usr/local/bin/hashcat
            HASHCAT_VERSION: ${HASHCAT_VERSION:-v7.1.2}
      ports:
         - "9999:9999"
      environment:
         - NVIDIA_VISIBLE_DEVICES=all
         - HASHCATNODE_USERNAME=${HASHCATNODE_USERNAME:-test}
         - HASHCATNODE_HASH=${HASHCATNODE_HASH:-9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08}
      restart: unless-stopped
      deploy:
         resources:
            reservations:
               devices:
                  - driver: nvidia
                    count: all
                    capabilities:
                      - gpu
      networks:
         - webhashcat

   node-cpu:
      profiles:
         - cpu
      container_name: hashcatnode-cpu
      build:
         context: .
         args:
            HASHCAT_BASE: dizcza/docker-hashcat:latest
            HASHCAT_BINARY: /usr/local/bin/hashcat
            HASHCAT_VERSION: ${HASHCAT_VERSION:-v7.1.2}
      ports:
         - "9999:9999"
      environment:
         - HASHCATNODE_USERNAME=${HASHCATNODE_USERNAME:-test}
         - HASHCATNODE_HASH=${HASHCATNODE_HASH:-9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08}
      restart: unless-stopped
      networks:
         - webhashcat

networks:
   webhashcat:
      external: true
      name: webhashcat-net
