[General]
loglevel = warning

[Server]
bind = 0.0.0.0
port = 9999
username =
sha256hash =

[Hashcat]
binary = /usr/bin/hashcat
hashes_dir = /hashcatnode/hashes
rule_dir = /hashcatnode/rules
wordlist_dir = /hashcatnode/wordlists
mask_dir = /hashcatnode/masks
workload_profile = 3

[Brain]
enabled = false
host = 127.0.0.1
port = 13743
password = bZfhCvGUSjRq
